# Visual Studio
.vs/
.root
*.user
*.suo
*.userosscache
*.sln.docstates

# Database logs
App_Data/*.ldf
App_Data/errors.log

# Temporary/Cache
bin/
obj/
_ReSharper*/

# OS files
Thumbs.db
ehthumbs.db
Desktop.ini
